# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=db

# Common
DOMAIN_NAME=bintry.localhost
APP_PROFILE=dev

# Frontend (Build time)
VITE_API_URL=http://bintry.localhost/api