# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=db

# Common
DOMAIN_NAME=bintry.localhost
APP_PROFILE=prod

# Frontend
VITE_API_URL=http://bintry.localhost/api

# Keycloak 
KC_DB_USER=postgres
KC_DB_PASSWORD=password
KC_DB_NAME=db
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_ISSUER_URI=http://bintry.localhost/auth/realms/syncview
KEYCLOAK_JWK_SET_URI=http://gateway/auth/realms/syncview/protocol/openid-connect/certs
